{% extends 'base.html' %}
{% block content %}
  {% if appointments|length == 0 %}
    <h3>No Appointments yet ...</h3>
  {% else %}
  <h2 class="my-5 text-center"> APPOINTMENTS </h2>
  
    <div class="row justify-content-center">
      <div class="col-sm-9">

          <div class="row justify-content-between mb-3">
              <a href="/dog_owners/{{g.user.id}}/done_appointments" class="btn btn-outline-dark justify-content-center">Done Appointments </a>
          </div>

        <div class="row">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Dog Walker</th>
                <th scope="col">Date</th>
                <th scope="col">Start at</th>
                <th scope="col">Duration</th>
                <th scope="col">Need to Cancel?</th>
              </tr>
            </thead>
            <tbody>
            {% for aptment in appointments %}
                {% if not aptment.status %}
                    <tr>
                        <th scope="row"><a href="/dog_walkers/{{aptment.dog_walker.id}}">{{aptment.dog_walker.name}}</a></th>
                        <td>{{aptment.date}}</td>
                        <td>{{aptment.time_start}} - {{aptment.day_period}}</td>
                        <td>{{aptment.duration}}</td>
                        <td><a href="/messages/{{g.user.id}}/{{aptment.dog_walker.id}}" class="btn btn-outline-dark">Send a Message</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
          </table>
          
        
           
          

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}