{% extends 'base.html' %}
{% block content %}
<h2 class="join-message text-center mt-5 mb-5">MESSAGES</h2>
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card hide">
        <div>
          <div class="image-wrapper">
            <img src="/static/images/image_header2.jpg" alt="" class="card-hero">
          </div>
          <a href="/dog_walkers/{{g.user.id}}" class="card-link">
            <img src="{{ g.user.photo }}"
                 alt="Image for {{ g.user.name}}"
                 class="card-image">
            <p>{{ g.user.name }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="">{{ g.user.message | length }}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group" id="messages">
        {% for user in user_list %}
          <li class="list-group-item my-1">
            <a href="/messages/{{user.id}}/{{g.user.id}}">
              <img src="{{ user.photo }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/messages/{{user.id}}/{{g.user.id}}">{{ user.name }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
